<div class="container">
  <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
    <div class="form-group">
      <label for="title"> Title =></label>
      <input id="title" formControlName="title" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        id="description"
        formControlName="description"
        class="form-control"
        required
      />
    </div>
    <div class="form-group form-check">
      <input
        id="completed"
        type="checkbox"
        formControlName="completed"
        class="form-check-input"
      />
      <label for="completed" class="form-check-label">Completed</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="taskForm.invalid">
      Save
    </button>
  </form>
</div>
